@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
/* line 3, sass/admin/1-base/main.sass */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 11, sass/admin/1-base/main.sass */
html, body {
  margin: 0;
  padding: 0; }

/* line 15, sass/admin/1-base/main.sass */
body {
  color: #333;
  background: white;
  height: 100vh; }
  /* line 20, sass/admin/1-base/main.sass */
  body .navbar-container {
    height: 50px; }
  /* line 23, sass/admin/1-base/main.sass */
  body .main-container {
    display: flex;
    height: calc(100% - 50px); }
    /* line 26, sass/admin/1-base/main.sass */
    body .main-container .main-wrapper {
      height: 100%;
      border-left: 1px solid #f4f4f4;
      flex-shrink: 0; }
      /* line 31, sass/admin/1-base/main.sass */
      body .main-container .main-wrapper .section {
        padding: 1rem; }

/* line 35, sass/admin/1-base/main.sass */
.slim-title {
  font-family: 'Open Sans Condensed';
  font-weight: 300;
  font-size: 2.2rem;
  color: #619A90;
  text-align: center; }

/* line 45, sass/admin/1-base/main.sass */
.loading-wrapper {
  display: none;
  opacity: 0; }
  /* line 48, sass/admin/1-base/main.sass */
  .loading-wrapper.show {
    display: block; }
  /* line 51, sass/admin/1-base/main.sass */
  .loading-wrapper .loading-screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url("../images/Blocks.gif");
    background-repeat: no-repeat;
    background-position: center;
    transition: all 300ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center; }
    /* line 66, sass/admin/1-base/main.sass */
    .loading-wrapper .loading-screen h1 {
      opacity: 0;
      font-size: 15vw;
      transition: opacity 300ms ease-in-out; }
    /* line 71, sass/admin/1-base/main.sass */
    .loading-wrapper .loading-screen.success {
      background-color: rgba(176, 226, 171, 0.9);
      background-image: none; }
      /* line 76, sass/admin/1-base/main.sass */
      .loading-wrapper .loading-screen.success h1 {
        opacity: 1; }

/* line 1, sass/admin/3-sections/left-menu.sass */
#left-menu {
  padding: 1rem; }
  /* line 5, sass/admin/3-sections/left-menu.sass */
  #left-menu .project-form form {
    margin: 0 auto; }
  /* line 8, sass/admin/3-sections/left-menu.sass */
  #left-menu .project-list {
    margin-top: 2rem; }
    /* line 11, sass/admin/3-sections/left-menu.sass */
    #left-menu .project-list ul {
      border-left: 1px dashed #ccc; }
      /* line 14, sass/admin/3-sections/left-menu.sass */
      #left-menu .project-list ul li {
        padding-left: 5px; }
        /* line 17, sass/admin/3-sections/left-menu.sass */
        #left-menu .project-list ul li .li-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
          /* line 22, sass/admin/3-sections/left-menu.sass */
          #left-menu .project-list ul li .li-wrapper:hover {
            color: #333;
            background: rgba(68, 68, 68, 0.1); }
          /* line 27, sass/admin/3-sections/left-menu.sass */
          #left-menu .project-list ul li .li-wrapper.active span {
            color: #111; }
    /* line 31, sass/admin/3-sections/left-menu.sass */
    #left-menu .project-list a {
      color: #aaa;
      text-decoration: none;
      display: inline-block; }
      /* line 39, sass/admin/3-sections/left-menu.sass */
      #left-menu .project-list a p {
        margin: 0;
        display: inline-block; }

/* line 5, sass/admin/3-sections/center-content.sass */
.section#center-content .tabs .tab-list {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  /* line 10, sass/admin/3-sections/center-content.sass */
  .section#center-content .tabs .tab-list li {
    width: 50%;
    background: #c9c9c9; }
    /* line 14, sass/admin/3-sections/center-content.sass */
    .section#center-content .tabs .tab-list li a {
      color: #aaa;
      border: none;
      height: 3rem; }
      /* line 18, sass/admin/3-sections/center-content.sass */
      .section#center-content .tabs .tab-list li a:hover {
        text-decoration: none; }
    /* line 21, sass/admin/3-sections/center-content.sass */
    .section#center-content .tabs .tab-list li.active {
      background: #63BEFF; }
      /* line 24, sass/admin/3-sections/center-content.sass */
      .section#center-content .tabs .tab-list li.active a {
        color: #fff; }

/* line 3, sass/admin/3-sections/right-menu.sass */
.right-container .sub-container {
  padding: 1rem 0; }

/* line 8, sass/admin/3-sections/right-menu.sass */
.right-container .general-container .layout-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem auto; }
  /* line 16, sass/admin/3-sections/right-menu.sass */
  .right-container .general-container .layout-container input {
    opacity: 0;
    position: absolute; }
    /* line 20, sass/admin/3-sections/right-menu.sass */
    .right-container .general-container .layout-container input:checked ~ .layout-label {
      opacity: 1;
      filter: grayscale(0); }
      /* line 24, sass/admin/3-sections/right-menu.sass */
      .right-container .general-container .layout-container input:checked ~ .layout-label label {
        border: 2px solid #888;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }
  /* line 28, sass/admin/3-sections/right-menu.sass */
  .right-container .general-container .layout-container .layout-label {
    margin: 0 .5rem;
    filter: grayscale(1);
    text-align: center;
    opacity: .6;
    transition: all 200ms ease-in-out; }
    /* line 34, sass/admin/3-sections/right-menu.sass */
    .right-container .general-container .layout-container .layout-label label {
      margin: 0 auto .2rem;
      height: 4.03rem;
      width: 6rem;
      border: 2px solid #aaa; }
    /* line 41, sass/admin/3-sections/right-menu.sass */
    .right-container .general-container .layout-container .layout-label span {
      display: block;
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 1rem; }
  /* line 48, sass/admin/3-sections/right-menu.sass */
  .right-container .general-container .layout-container .layout-img .layout-label label {
    background-image: url(../images/layout_img.svg);
    background-size: cover; }
  /* line 53, sass/admin/3-sections/right-menu.sass */
  .right-container .general-container .layout-container .layout-txt .layout-label label {
    background-image: url(../images/layout_text.svg);
    background-size: cover; }
  /* line 58, sass/admin/3-sections/right-menu.sass */
  .right-container .general-container .layout-container .layout-mnu .layout-label label {
    background-image: url(../images/layout_menu.svg);
    background-size: cover; }

/* line 63, sass/admin/3-sections/right-menu.sass */
.right-container .save-container {
  margin: 0 auto;
  text-align: center; }
  /* line 66, sass/admin/3-sections/right-menu.sass */
  .right-container .save-container button {
    margin: 0 .2rem;
    border-radius: 0;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center; }
    /* line 77, sass/admin/3-sections/right-menu.sass */
    .right-container .save-container button.button-save {
      background: #63BEFF; }
      /* line 80, sass/admin/3-sections/right-menu.sass */
      .right-container .save-container button.button-save:hover {
        background: #30a9ff; }
    /* line 82, sass/admin/3-sections/right-menu.sass */
    .right-container .save-container button.button-cancel {
      background: #b3b3b3; }
      /* line 84, sass/admin/3-sections/right-menu.sass */
      .right-container .save-container button.button-cancel:hover {
        background: #9a9a9a; }
