@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
/* line 3, sass/admin/1-base/main.sass */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 11, sass/admin/1-base/main.sass */
html, body {
  margin: 0;
  padding: 0; }

/* line 15, sass/admin/1-base/main.sass */
body {
  color: #333;
  background: white; }
  /* line 20, sass/admin/1-base/main.sass */
  body .main-container .main-wrapper {
    height: 100%;
    border-left: 1px solid #ddd;
    background: #eee; }

/* line 26, sass/admin/1-base/main.sass */
.slim-title {
  font-family: 'Open Sans Condensed';
  font-weight: 300;
  font-size: 2.2rem;
  color: #619A90;
  text-align: center; }

/* line 1, sass/admin/3-sections/left-menu.sass */
#left-menu {
  padding: 1rem; }
  /* line 5, sass/admin/3-sections/left-menu.sass */
  #left-menu .project-form form {
    margin: 0 auto; }
  /* line 8, sass/admin/3-sections/left-menu.sass */
  #left-menu .project-list {
    margin-top: 2rem; }
    /* line 11, sass/admin/3-sections/left-menu.sass */
    #left-menu .project-list ul {
      border-left: 1px dashed #ccc; }
      /* line 14, sass/admin/3-sections/left-menu.sass */
      #left-menu .project-list ul li {
        padding-left: 5px; }
        /* line 17, sass/admin/3-sections/left-menu.sass */
        #left-menu .project-list ul li .li-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
          /* line 22, sass/admin/3-sections/left-menu.sass */
          #left-menu .project-list ul li .li-wrapper:hover {
            color: #333;
            background: rgba(0, 0, 0, 0.1); }
          /* line 26, sass/admin/3-sections/left-menu.sass */
          #left-menu .project-list ul li .li-wrapper.active {
            color: #111;
            background: rgba(12, 154, 154, 0.3); }
        /* line 30, sass/admin/3-sections/left-menu.sass */
        #left-menu .project-list ul li a {
          color: #888;
          text-decoration: none;
          display: inline-block; }
          /* line 38, sass/admin/3-sections/left-menu.sass */
          #left-menu .project-list ul li a p {
            margin: 0;
            display: inline-block; }
