//@font-face
//  font-family: 'DIN alt'
//  src: url(../fonts/din1451alt.ttf)

.noselect
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

html, body
  margin: 0
  padding: 0

body
  font:
    family: Arial
  color: #333
  background: white
