@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300')

.noselect
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

html, body
  margin: 0
  padding: 0

body
  color: #333
  background: white
  height: 100vh

  .navbar-container
    height: 50px

  .main-container
    display: flex
    height: calc(100% - 50px)
    .main-wrapper
      height: 100%
      border-left: 1px solid #f4f4f4
      flex-shrink: 0

      .section
        padding: 1rem


.slim-title
  font:
    family: 'Open Sans Condensed'
    weight: 300
    size: 2.2rem
  color: $slim-title-color
  text-align: center



.loading-wrapper
  display: none
  opacity: 0
  &.show
    display: block

  .loading-screen
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background:
      color: rgba(black, .7)
      image: url('../images/Blocks.gif')
      repeat: no-repeat
      position: center
    transition: all 300ms ease-in-out
    display: flex
    align-items: center
    justify-content: center
    h1
      opacity: 0
      font-size: 15vw
      transition: opacity 300ms ease-in-out

    &.success
      background:
        color: rgba(#B0E2AB, .9)
        image: none

      h1
        opacity: 1
