extends layout

block content


  a(href='/admin'): h1 ADMIN

  .main-container.row
    .main-wrapper.main-wrapper--left.col.col-3
      .section#left-menu
        include includes/left-menu

    if (currentProjectId)
      .main-wrapper.main-wrapper--center.col.col-5
        .section#center-content
          include includes/center-content
      .main-wrapper.main-wrapper--right.col.col-4
        .section#right-menu
          include includes/right-menu
