extends layout

block content


  .navbar-container
    a(href='/admin'): h1.main-title OTMAR RYCHLIK
    h1.sub-title ADMINBEREICH
    .logging-area
      p LOGGED IN AS
        span.user Username
      a.log-out(href='')

  .main-container.row
    .main-wrapper.main-wrapper--left.col.col-3
      .section#left-menu
        include includes/left-menu

    if (currentProjectId)
      .current-id(data-id=currentProjectId)
      .main-wrapper.main-wrapper--center.col.col-5
        .section#center-content
          include includes/center-content
      .main-wrapper.main-wrapper--right.col.col-4
        .section#right-menu
          include includes/right-menu
      .trash-wrapper
        .section#trash
          include includes/trash


  .loading-wrapper
    .loading-screen
      h1.slim-title GESPEICHERT!

  .msg-wrapper
    .msg-screen
      .msg-content
        h2.msg-title
        ol.msg-message
        button.button-cancel.w50(onclick='closeMsg()') OK