doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/kube.min.css')
    link(rel='stylesheet', href='/admin/stylesheets/dropzone.min.css')
    link(rel='stylesheet', href='/admin/stylesheets/main.css')
  body
    block content
    script(src='/admin/javascripts/jquery-3.2.1.min.js')
    script(src='/admin/javascripts/jquery-ui.min.js')
    script(src='/admin/javascripts/kube.min.js')
    script(src='/admin/javascripts/dropzone.min.js')
    script(src='/admin/javascripts/script.js')
    script(src='/admin/javascripts/trash.js')

