.left-container
  h1.slim-title MENÜPUNKTE
  .project-form
    form.form
      .form-item
        //label Neues Projekt erstellen
        .append.w100
          input(type='text', name='project')#project-name
          button.button.outline Go

  .project-table
    table.unstyled

      each project in projects
        tr(onclick='openProject(this.id)' id=project._id)
          td.w60
            p.upper.small= project.name
          td.w20
            .smaller
              a(href='#') edit
          td.w20
            .smaller
              a(href='#') delete
          td.w20
            .smaller
              a(href='#') +
      