extends ../layout

block content
  include ../includes/header

  .breadcrumbs-wrapper
    include ../includes/breadcrumbs

  .project-wrapper

    .project-left.col.col-4
      .title-container
        h1.main-title= project.title
        if (project.subtitle)
          h1.sub-title= project.subtitle
      .info-text
        p!= project.infoHtml

    .project-main.col.col-8.no-select

      .image-gallery
        - var realImages = [];
        each img in project.images

          if (img.isVisible && !img.isDeleted)
            - realImages.push(img);
            if (img.isCover)
              .image.cover-img.img-active
                img(src='/uploads/' + img.filename)
            else
              .image.gal-img
                img(src='/uploads/' + img.filename)

        button.button.close.close-button
        if (realImages.length > 1)
          .gallery-navigation
            .gal-control.back
            .gal-control.forward
    .project-control
      if (prevProject)
        a(href= '/site/' + prevProject)
          .p-control.back
      else
        span
      if (nextProject)

        a(href= '/site/' + nextProject)
          .p-control.forward


