extends ../layout

block content
  include ../includes/header
  .breadcrumbs-wrapper
    include ../includes/breadcrumbs
    .update-title: span Zuletzt geändert

  .project-wrapper

    .project-left.col.col-4
      h1.main-title= project.name

    .project-main.col.col-8
      ul.sub-list.unordered

        each child in children

          li
            a(href= child.path)
              h1.main-title= child.name
            if (child.showUpdate)
              .update
                span= (child.setUpdate ? child.ownUpdatePretty : child.update)