extends ../layout

block content
  include ../includes/header

  .breadcrumbs-wrapper
    include ../includes/breadcrumbs

  .project-wrapper

    .project-left.col.col-4
      h1.main-title= project.name

    .project-main.col.col-8
      if (!project.orderedList)
        ul.sub-list.unordered
          each child in project.children

            if (child.visible && !child.deleted)
              li
                a(href= child.latName)
                  h1.main-title= child.name
      else
        ol.sub-list.ordered
          each child in project.children

            if (child.visible && !child.deleted)
              li
                a.main-title(href= child.latName)= child.name