extends ../layout

block content
  include ../includes/header
  .breadcrumbs-wrapper
    include ../includes/breadcrumbs
    .update-title: span Zuletzt geändert

  .project-wrapper

    .project-left.col.col-4
      h1.main-title= project.name

    .project-main.col.col-8
      ul.sub-list.unordered

        each child in project.children

          if (child.visible && !child.deleted)
            li
              a(href= child.latName)
                h1.main-title= child.name
              if (child.showUpdate)
                .update
                  span= (child.setUpdate ? child.ownUpdatePretty : child.update)