extends ../layout

block content
  include ../includes/header

  .breadcrumbs-wrapper
    include ../includes/breadcrumbs

  .project-wrapper

    .project-left.col.col-4
      h1.main-title= project.title

    .project-main.col.col-8
      .project-text
        p!= project.descHtml

    .project-control
      if (prevProject)
        a(href= '/site/' + prevProject)
          .p-control.back
      else
        span
      if (nextProject)

        a(href= '/site/' + nextProject)
          .p-control.forward