extends ../layout

block content
  include ../includes/header

  .breadcrumbs-wrapper
    include ../includes/breadcrumbs

  .project-wrapper

    .project-left.col.col-4
      .title-container
        h1.main-title= project.title
        if (project.subtitle)
          h1.sub-title= project.subtitle
      .info-text
        p!= project.infoHtml

    .project-main.col.col-8
      .project-text
        p!= project.descHtml

    .project-control
      if (prevProject)
        a(href= prevProject)
          .p-control.back
      else
        span
      if (nextProject)

        a(href= '/site/' + nextProject)
          .p-control.forward