nav.breadcrumbs
  ul
    li.crumb-link: a(href='/') START
      //.home-link
    if (project.ancestors)

      each crumb in project.ancestors
        if (crumb.id == project.id)
          - break
        else
          li.crumb-link: a(href='/site/' + crumb.latName)= crumb.name