nav.breadcrumbs
  ul
    li.crumb-link: a(href='/') START
      //.home-link
    if (ancestors)

      each crumb in ancestors
        if (crumb.id == project.id)
          - break;
        else
          li.crumb-link: a(href=crumb.link)= crumb.name