extends layout

block content
  include includes/header
      //h1.ghost-title

  .main-container
    ul.project-list
      li.h-li
        a
          .link
          span.project-update-title ZULETZT GEÄNDERT
      each project in projects
        if (!project.deleted && project.visible && !project.hasParent)

          li
            a(href='/site/'+ project.latName)
              .link= project.name
              span.project-update 1.4.2017
