extends layout

block content
  .header-bar

    .left-header: h1.main-title OTMAR RYCHLIK
    .right-header
      h1.sub-title IM LAUF DER ZEIT
      //h1.ghost-title

  .main-container
    ul.project-list
      li.h-li
        a
          .link
          span.project-update-title ZULETZT GEÄNDERT
      each project in projects
        if (!project.deleted && project.visible && !project.hasParent)

          li
            a(href='/'+ project.latName)
              .link= project.name
              span.project-update 1.4.2017
