extends layout

block content
  include includes/header
      //h1.ghost-title
  .mobile-container
    p Diese Seite ist nicht für mobile Geräte bzw. Displays mit einer geringeren Auflösung als ~920x560px optimiert.

  nav.breadcrumbs.startpage
    ul
      li.crumb-link
  .project-wrapper.start-wrapper
    .project-left.col.col-4

    .project-main.col.col-8

      ul.sub-list.unordered
        li.h-li
          a
            .link
            //span.project-update-title ZULETZT GEÄNDERT
        each project in projects

          li
            a(href=project.path)
              h1.main-title= project.name
              //span.project-update 1.4.2017
