extends layout

block content
  .header-bar

    h1.main-title OTMAR RYCHLIK
    h1.sub-title IM LAUF DER ZEIT
    h1.ghost-title

  .main-container
    ul.project-list
      li.h-li
        .link
        span.project-update-title ZULETZT GEÄNDERT
      each project in projects
        if (!project.deleted && project.visible && !project.hasParent)
          li
            a.link(href='')= project.name
            span.project-update 1.4.2017