doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    meta(name='description', content='Willkommen auf der offiziellen Seite von Otmar Rychlik')
    meta(name='keywords', content='')
    meta(name='viewport', content='width=device-width')
    title= title
    link(rel='stylesheet', href='/stylesheets/kube.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='/javascripts/jquery-3.2.1.min.js')
    script(src='/javascripts/script.js')

  body
    block content
