extends layout

block content
  h1 Otmar Rychlik Admin

  form(action='/login/authenticate', method='post')
    input(type='text', name='uname')
    input(type='password', name='upass')
    input(type='submit')
