/* line 5, sass/1-base/main.sass */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 13, sass/1-base/main.sass */
html, body {
  margin: 10px;
  padding: 0px; }

/* line 17, sass/1-base/main.sass */
body {
  font-family: Arial;
  color: #333;
  background: white; }
