//@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300,400')
@font-face
  font-family: 'ITC Avant Garde Condensed'
  src: url('../fonts/ITC Avant Garde Gothic LT Condensed Book.ttf')

.noselect
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

body
  margin: 0
  padding: 20px

  font:
    family: "ITC Avant Garde Condensed", sans-serif


  color: #333
  background: white


  .no-select
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

  a
    text-decoration: none

  .header-bar
    display: flex
    flex-direction: row
    justify-content: left
    align-items: baseline
    background: $header-bar-background
    padding: 12px 5px
    letter-spacing: 1px
    //.left-header
    //  width: 450px
    //.right-header
    //margin-left: 40px
    h1
      //width: 230px

      margin: 0
      line-height: 1
      font:
        family: inherit
        size: 2.2rem
        weight: 100

      &.header-title
        font:
          family: "Arial Black", sans-serif !important
          weight: 400
        color: #fff

      &.main-title
        color: #fff
        padding-right: 20px

      &.sub-title
        color: white
        font-family: "Times New Roman", serif !important

@media(max-width: 919px)
  .header-bar
    justify-content: space-between

    .main-title, .sub-title
      font-size: 1.5rem
  .mobile-container
    height: 80vh
    display: flex
    justify-content: center
    align-items: center
    font-size: 2rem
    text-align: center

  .main-container
    display: none
@media(min-width: 920px)
  .mobile-container
    display: none

  //.main-container
  //  overflow-x: hidden
  //  //letter-spacing: normal

  .breadcrumbs.startpage
    margin-top: 1.7rem

  .project-wrapper

    //margin-top: 2.5rem
    display: flex
    flex-direction: row



    @media(max-width: 800px)
      flex-direction: column

      .project-left
        padding: 0

    .project-left
      padding-right: 20px

    .project-main
      //margin-left: 40px
      .sub-list

        margin: 0
        padding-left: 0

    //.project-list
    //  list-style: none
    //  margin: 2rem 0
    //  padding: 0
    //  .project-update-title
    //    color: $red
    //
    //  li > a
    //    text-decoration: none
    //    display: flex
    //    flex-direction: row
    //    justify-content: space-between
    //    align-items: baseline
    //    padding-right: 10rem
    //    //border: 1px solid transparent
    //    //transition: all 100ms ease-in-out
    //    .link
    //      display: block
    //      text-decoration: none
    //      font-size: 8vh
    //      line-height: .9
    //      text-transform: uppercase
    //      color: $project-title-color
    //      transition: all 200ms ease-in-out
    //      transform-origin: left
    //
    //
    //    .project-update
    //
    //      font-size: 4.6vh
    //      line-height: .9
    //      color: $red
    //      opacity: .8
    //      transition: transform 100ms ease-in-out
    //
    //    &:hover
    //      //border-bottom: 1px solid #eee
    //      .link
    //        transform: scaleX(1.1)
    //        color: #111
    //        transition-duration: 100ms
    //      .project-update
    //        opacity: 1
    //        transform: scale(1.1)