
nav.breadcrumbs
  ul
    if (currentProject.parentsList)
      for crumb in currentProject.parentsList
        li: a(href='')= crumb
      span= currentProject.name
nav.tabs(data-component='tabs', data-equals="true")
  ul.tab-list
    li: a(href='#text-container').slim-title TEXT
    li: a(href='#img-container').slim-title BILDER

.main-content

  #text-container
    textarea#description= currentProject.descMU
  #img-container
    p Bilder