
nav.breadcrumbs
  ul
    if (currentProject.parentsList)
      each crumb in currentProject.parentsList
        if (crumb.id == currentProject._id)
          break
        else
          li.crumb-link: a(href='/admin/project/'+crumb.id)= crumb.name
    li: input#project-name-input(type='text', value= currentProject.name, data-currentname= currentProject.name)

nav.tabs(data-component='tabs', data-equals="true")
  ul.tab-list
    li: a(href='#text-container').slim-title TEXT
    li: a(href='#img-container').slim-title BILDER

.main-content

  #text-container
    textarea#description= currentProject.descMU
  #img-container
    .dropzone-container
      form(action='/admin/upload').dropzone
        input.hidden-input(name='project_id', value=currentProject._id)
    .image-list
      if (currentProject.images)
        ul
          each image in currentProject.images
            li
              .image: img(src='../../uploads/'+image.filename)
              .img-name: p= image.originalName
              .control-container
                input(type='radio', name='cover-option', id='cover_'+ image._id, onclick='checkCover(this.id)', checked=(image.isCover))
                label(for='cover_'+image._id)
                  .ctl.ctl--cover.shadow
                input(type='checkbox', name='visibility-option', id='visible_'+ image._id)
                label(for='visible_'+ image._id)
                  .ctl.ctl--visible.shadow
                input(type='checkbox', name='delete-option', id='delete_' + image._id)
                label(for='delete_' + image._id)
                  .ctl.ctl--delete
