.trash-handle(onclick='toggleTrash()')
  .trash-img

.trash-compartment
  h1.slim-title PAPIERKORB

  .trash-project-container

    a#empty-trash Papierkorb leeren

    ul.trash-project-list.sortable.connect-sortable

      each project in projects
        if (project.deleted)
          li(id= project._id).trash-project
            a(href='/admin/revive/' + project._id)= project.name