mixin parseTrash(projects)
  each p in projects
    if (p.children.length > 0 || p.deleted)
      li(id=p.id, class=(p.deleted ? 'enabled' : 'unsortable')).li-container
        .li-wrapper

          span.upper.small= p.name

        if (p.hasChildren)
          ul(id='list_'+p.id).unstyled.sub-trash-list.sortable.connectedSortable
            +parseTrash(p.children)


.trash-handle(onclick='toggleTrash()')
  .trash-img

.trash-compartment
  h1.slim-title PAPIERKORB

  .trash-project-container

    a#empty-trash Papierkorb leeren

    ul.trash-project-list.sortable.connect-sortable.unstyled

      +parseTrash(projects)