.trash-handle(onclick='toggleTrash()')
  .trash-img

.trash-compartment
  h1.slim-title TRASH

  .trash-project-container

    ul.trash-project-list
    each project in projects
      if (project.deleted)
        li= project.name