.main-title
  text-transform: uppercase
  margin: 0
  font-size: 1.6rem
  letter-spacing: 1px
.project-wrapper
  margin-top: 2.5rem
  display: flex
  flex-direction: row
  .project-left
    width: 450px

  .project-main

    .sub-list
      list-style: none
      margin: 0
      padding-left: 6px

      li
        a
          text-decoration: none
          color: $project-title-color

          &:hover
            color: #0d0d0e