h1, h2, h3, p, a
  font-family: "ITC Avant Garde Condensed", sans-serif !important
  line-height: 1.1

.main-title
  text-transform: uppercase
  margin: 0
  font-size: 1.6rem
  letter-spacing: 1px

.breadcrumbs-wrapper
  height: 50px
  padding: 1rem 0
  .breadcrumbs
    text-transform: uppercase
    margin-bottom: 0
    font-size: 1.2rem
    letter-spacing: .3pt
    ul
      color: #aaa
      li:after
        content: '//'
      li:last-child:after
        content: ''
      a
        color: #aaa
        &:hover
          color: #555


.project-wrapper

  //margin-top: 2.5rem
  display: flex
  flex-direction: row

  @media(max-width: 800px)
    flex-direction: column

    .project-left
      padding: 0

  .project-left
    padding-right: 20px

  .project-main
    //margin-left: 40px
    .sub-list

      margin: 0
      padding-left: 0

      &.unordered
        list-style: none


      &.ordered

        list-style: decimal
        font-size: 1.4rem

      li
        h1, a

          text-decoration: none
          color: $project-title-color

          &:hover
            color: darken($project-title-color, 30%)
                                                          // TEXT LAYOUT
    .project-text
      padding: 0 20% 0 3px
      p
        line-height: 1.2em
        margin: 0
        text-align: justify
        clear: both

      img
        float: right
        margin: 1rem 0
                                                          // IMAGE LAYOUT
    .image-gallery
      z-index: 1
      //position: absolute
      display: flex
      flex-direction: column
      align-items: flex-start
      justify-content: flex-start
      //left: auto
      //top: auto
      //right: auto
      //bottom: auto

      transition: all 0ms ease-in-out

      .close-button
        display: none

      .image
        //min-width: 360px
        position: absolute
        opacity: 0
        transition: opacity 400ms ease-in-out

        img
          cursor: pointer
          box-shadow: 4px 4px 6px rgba(black, .2)
          max-width: 500px
          max-height: 500px
          



        &.gal-img
          left: -100000px

        &.img-active
          opacity: 1
          left: auto
      &.opened
        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0
        width: 100%
        background: $dark-background
        align-items: center
        justify-content: center
        transition-duration: 300ms
        display: flex

        .gal-img, .img-active
          left: auto
          display: flex
          justify-content: center
          align-items: center

          img
            max-height: 95vh
            max-width: 80vw

        .close-button
          display: block
          position: fixed

          top: 10px
          right: 10px

        .gallery-navigation
          width: 90%
          display: flex
          align-items: center
          justify-content: space-between

          .gal-control
            z-index: 1
            width: 50px
            height: 23px
            background:
              repeat: no-repeat
            opacity: .8
            cursor: pointer
            &.back
              background-image: url(../images/hand_point-left.svg)
            &.forward
              background-image: url(../images/hand_point-right.svg)
            &:hover
              opacity: 1

            &.disable
              opacity: 0
              cursor: default
  .project-control
    position: fixed
    left: 6%
    right: 6%
    bottom: 2rem

    display: flex
    justify-content: space-between
    .p-control
      width: 50px
      height: 23px
      background:
        repeat: no-repeat
      opacity: .5
      cursor: pointer
      &.back
        background-image: url(../images/hand_point-left.svg)
      &.forward
        background-image: url(../images/hand_point-right.svg)
      &:hover
        opacity: 1