.section#center-content

  display: flex
  flex-direction: column

  .breadcrumbs
    flex-grow: 0
    height: 55px
    box-sizing: border-box
    font-size: .7rem
    .crumb-link
      a
        padding: 0 3px
        //&:first-child
      &:last-child
        margin-right: 15px
    #project-name-input
      padding: .3rem
      //margin-left: 5px
      transform: translateY(-1px)
      border: 1px solid #fafafa
      transition: all 200ms ease-in-out
      &:hover
        border-color: #aaa

  .title-container
    flex-grow: 0
    display: flex
    flex-direction: row
    align-items: center
    //margin-bottom: 8px
    //height: 10%
    span
      margin-right: 5px
    input
      height: 25px
  .tabs
    flex-grow: 0
    height: 35px
    .tab-list
      display: flex
      flex-direction: row
      justify-content: center
      border: none

      li
        width: 50%
        background: #c9c9c9
        margin: 1px


        a
          color: #aaa
          border: none
          height: 3rem
          &:hover
            text-decoration: none

        &.active
          background: $blue

          a
            color: #fff

  .main-content
    flex-grow: 1
    display: flex
    flex-direction: row

    .textarea-wrapper
      flex-grow: 1

      textarea
        height: 100%
        resize: none
        background: #fdffff
        border-color: #ddd
        box-shadow: inset 0 0 8px rgba(100, 100, 100, .15)

    #img-container
      width: 100%
      position: relative
      .dropzone-container
        .dropzone
          background: #E4FFFC
          border: none
          width: 100%
          height: 130px
          box-shadow: inset 0 0 20px rgba(150, 150, 150, .3)
          color: #aaa
          text-transform: uppercase
          display: flex
          align-items: center
          justify-content: center
          cursor: pointer
          margin-bottom: .3rem

          .hidden-input
            display: none

      .image-list
        position: absolute
        width: 100%
        max-height: calc(100% - 150px)
        z-index: 1
        transform: translate(0%, 0%)
        padding: 0
        overflow-y: auto
        transition: all 300ms ease-in-out
        *
          transition: all 300ms ease-in-out

        .closeButton
          display: none

        ul
          list-style: none
          margin: 0



          .img-li
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            height: 40px
            background: #EAFFf3

            border-bottom: 1px dashed rgba(150, 150, 150, .5)


            &.updated
              background: #C4FFC4
              transition: all 10ms ease-in-out

            .img-preview
              flex-grow: 2
              display: flex
              flex-direction: row
              align-items: center
              cursor: pointer
              height: 100%

              .img-form
                display: none

              &:hover
                background: rgba(200, 200, 200, .2)

              .img-thumb
                display: flex
                justify-content: center
                align-items: center
                min-width: 80px
                //width: 60px
                height: 100%
                margin-right: 5px
                img
                  height: 90%

              .img-name
                max-width: 200px
                flex-grow: 2

                p
                  display: block
                  white-space: nowrap
                  overflow: hidden
                  text-overflow: ellipsis
                  margin: 0
                  color: #777
                  font:
                    size: .9rem
                    weight: 300
            .control-container
              display: flex
              flex-direction: row
              margin-right: 3px
              input
                width: 0
                visibility: hidden
                &:checked + label > .ctl:first-child
                  opacity: 1
                  filter: grayscale(0) drop-shadow(0 0 4px rgba(150, 150, 150, .5))

              label
                margin: 0 4px
                .ctl
                  width: 16px
                  height: 16px
                  background:
                    repeat: no-repeat
                    position: center

                  cursor: pointer

                  &.shadow
                    filter: grayscale(1)
                    opacity: .3

                  &:hover
                    opacity: 1
                    filter: grayscale(.6)



                  &--cover
                    background-image: url('../images/cover.svg')

                  &--visible
                    background-image: url('../images/eye.svg')

                  &--delete
                    background-image: url('../images/trash.svg')

        &.big-view

          transform: translate(-22%, -50%)
          width: 220%
          max-height: 80vh
          padding: 0 1rem 1rem
          background: white
          border: 3px solid #c9c9c9
          box-shadow: 0 0 10px #6ad5cb
          transition: all 300ms ease-in-out
          .closeButton

            display: block
            text-align: right
            margin: 0
            font-weight: 300
            a
              color: #ccc
              cursor: pointer
              &:hover
                color: #111

          ul
            .active
              height: 360px
              *
                transition: all 300ms ease-in-out


              .img-preview
                height: 100%
                width: auto
                .img-form
                  display: block
                  .form-item
                    margin: 10px 5px

                    .ref-link
                      font:
                        family: "Courier", monospace
                        size: .7rem
                      background: rgba(white, .7)
                      border: 1px dotted #aaa
                      padding: 3px 2px
                      color: #777


                    textarea
                      resize: none

                    button
                      margin-right: 8px

                .img-thumb
                  margin-right: 10px
                  //width: auto
                  height: 100%
                  img
                    width: auto
                    height: 290px
                .img-name p
                  display: none

            .img-preview
              .img-name
                max-width: none
                width: auto

