#left-menu
  padding: 1rem

  .nothing
    display: none

  .project-form
    form
      margin: 0 auto

  .project-list
    margin-top: 2rem
    //padding: 5px 0 0
    ul
      border-left: 1px dotted #eee
      &.sub-list
        display: none

      .li-container
        padding-left: 5px

        .li-wrapper
          display: flex
          flex-direction: row
          justify-content: space-between

          &:hover
            color: #333
            background: rgba(#444, .1)

          &.active
            span
              color: #111
            //background: rgba(#0C9A9A, .3)


          .menu-link

            display: flex
            flex-direction: row
            justify-content: flex-start
            align-items: center

            a
              color: #aaa
              text-decoration: none



            .folder
              opacity: .5
              margin-right: 3px
              width: 10px
              height: 10px
              background:
                image: url(../images/folder_sprite.svg)
                position: 0 0
                repeat: no-repeat
                size: cover
              cursor: pointer

        &.unfold

          & > .li-wrapper .menu-link .folder
            background-position: -10px 0

          & > .sub-list
            display: block


      p
        margin: 0
        display: inline-block