#left-menu
  padding: 1rem

  .project-form
    form
      margin: 0 auto

  .project-list
    margin-top: 2rem
    //padding: 5px 0 0
    ul
      border-left: 1px dashed #ccc

      li
        padding-left: 5px

        .li-wrapper
          display: flex
          flex-direction: row
          justify-content: space-between

          &:hover
            color: #333
            background: rgba(#444, .1)

          &.active
            span
              color: #111
            //background: rgba(#0C9A9A, .3)

    a
      color: #aaa
      text-decoration: none
      display: inline-block




      p
        margin: 0
        display: inline-block