@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300,400");
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

html, body {
  margin: 0;
  padding: 0; }

body {
  color: #333;
  background: white;
  height: 100vh;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif; }
  body .navbar-container {
    background: #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem; }
    body .navbar-container a {
      text-decoration: none; }
    body .navbar-container h1 {
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 2rem;
      line-height: 2rem;
      margin: 0 .3rem; }
      body .navbar-container h1.main-title {
        color: white; }
      body .navbar-container h1.sub-title {
        font-size: 1.4rem; }
    body .navbar-container .logging-area {
      display: flex;
      align-items: center; }
      body .navbar-container .logging-area p {
        font-family: "Open Sans Condensed", sans-serif;
        margin: 0; }
        body .navbar-container .logging-area p .user {
          margin-left: 5px;
          text-transform: uppercase;
          color: #4ca0f5; }
      body .navbar-container .logging-area .log-out {
        margin-left: 15px;
        display: block;
        width: 20px;
        height: 20px;
        background: url(../images/exit_sign.svg);
        opacity: .8;
        transition: transform 200ms ease-in-out; }
        body .navbar-container .logging-area .log-out:hover {
          opacity: 1;
          filter: drop-shadow(0 0 4px rgba(150, 150, 150, 0.2));
          transform: scale(1.2); }
  body .main-container {
    display: flex;
    height: calc(100% - 50px); }
    body .main-container .main-wrapper {
      height: 100%;
      border-left: 1px solid #f4f4f4;
      flex-shrink: 0; }
      body .main-container .main-wrapper .section {
        padding: 1rem;
        height: 100%; }

.slim-title {
  font-family: 'Open Sans Condensed';
  font-weight: 300;
  font-size: 2.2rem;
  color: #619A90;
  text-align: center; }

.loading-wrapper {
  display: none;
  opacity: 0; }
  .loading-wrapper.show {
    display: block; }
  .loading-wrapper .loading-screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url("../images/Blocks.gif");
    background-repeat: no-repeat;
    background-position: center;
    transition: all 300ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center; }
    .loading-wrapper .loading-screen h1 {
      opacity: 0;
      font-size: 15vw;
      transition: opacity 300ms ease-in-out; }
    .loading-wrapper .loading-screen.success {
      background-color: rgba(176, 226, 171, 0.9);
      background-image: none; }
      .loading-wrapper .loading-screen.success h1 {
        opacity: 1; }

#left-menu {
  padding: 1rem; }
  #left-menu .project-form form {
    margin: 0 auto; }
  #left-menu .project-list {
    margin-top: 2rem; }
    #left-menu .project-list ul {
      border-left: 1px dotted #eee; }
      #left-menu .project-list ul li {
        padding-left: 5px; }
        #left-menu .project-list ul li .li-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
          #left-menu .project-list ul li .li-wrapper:hover {
            color: #333;
            background: rgba(68, 68, 68, 0.1); }
          #left-menu .project-list ul li .li-wrapper.active span {
            color: #111; }
    #left-menu .project-list a {
      color: #aaa;
      text-decoration: none;
      display: inline-block; }
      #left-menu .project-list a p {
        margin: 0;
        display: inline-block; }

.section#center-content {
  display: flex;
  flex-direction: column; }
  .section#center-content .breadcrumbs {
    flex-grow: 0;
    height: 25px;
    box-sizing: border-box; }
    .section#center-content .breadcrumbs .crumb-link:last-child {
      margin-right: 15px; }
    .section#center-content .breadcrumbs #project-name-input {
      padding: .3rem;
      transform: translateY(-1px);
      border: 1px solid #fafafa;
      transition: all 200ms ease-in-out; }
      .section#center-content .breadcrumbs #project-name-input:hover {
        border-color: #aaa; }
  .section#center-content .tabs {
    flex-grow: 0;
    height: 35px; }
    .section#center-content .tabs .tab-list {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .section#center-content .tabs .tab-list li {
        width: 50%;
        background: #c9c9c9; }
        .section#center-content .tabs .tab-list li a {
          color: #aaa;
          border: none;
          height: 3rem; }
          .section#center-content .tabs .tab-list li a:hover {
            text-decoration: none; }
        .section#center-content .tabs .tab-list li.active {
          background: #63BEFF; }
          .section#center-content .tabs .tab-list li.active a {
            color: #fff; }
  .section#center-content .main-content {
    flex-grow: 1;
    display: flex; }
    .section#center-content .main-content #text-container {
      flex-grow: 1; }
      .section#center-content .main-content #text-container textarea {
        height: 100%;
        resize: none;
        background: #fdffff;
        border-color: #ddd;
        box-shadow: inset 0 0 8px rgba(100, 100, 100, 0.15); }
    .section#center-content .main-content #img-container {
      width: 100%; }
      .section#center-content .main-content #img-container .dropzone-container .dropzone {
        background: #E4FFFC;
        border: none;
        width: 100%;
        height: 130px;
        box-shadow: inset 0 0 20px rgba(150, 150, 150, 0.3);
        color: #aaa;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-bottom: .3rem; }
        .section#center-content .main-content #img-container .dropzone-container .dropzone .hidden-input {
          display: none; }
      .section#center-content .main-content #img-container .image-list ul {
        list-style: none;
        margin: 0; }
        .section#center-content .main-content #img-container .image-list ul li {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          height: 40px;
          background: #E4FFEB;
          border-bottom: 1px dashed rgba(150, 150, 150, 0.5); }
          .section#center-content .main-content #img-container .image-list ul li .image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px; }
            .section#center-content .main-content #img-container .image-list ul li .image img {
              height: 35px; }
          .section#center-content .main-content #img-container .image-list ul li .img-name {
            max-width: 160px;
            flex-grow: 2; }
            .section#center-content .main-content #img-container .image-list ul li .img-name p {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              margin: 0;
              color: #777;
              font-size: .9rem;
              font-weight: 300; }
          .section#center-content .main-content #img-container .image-list ul li .control-container {
            display: flex;
            flex-direction: row;
            margin-right: 3px; }
            .section#center-content .main-content #img-container .image-list ul li .control-container input {
              width: 0;
              visibility: hidden; }
              .section#center-content .main-content #img-container .image-list ul li .control-container input:checked + label > .ctl:first-child {
                opacity: 1;
                filter: grayscale(0) drop-shadow(0 0 4px rgba(150, 150, 150, 0.5)); }
            .section#center-content .main-content #img-container .image-list ul li .control-container label {
              margin: 0 4px; }
              .section#center-content .main-content #img-container .image-list ul li .control-container label .ctl {
                width: 16px;
                height: 16px;
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer; }
                .section#center-content .main-content #img-container .image-list ul li .control-container label .ctl.shadow {
                  filter: grayscale(1);
                  opacity: .3; }
                .section#center-content .main-content #img-container .image-list ul li .control-container label .ctl:hover {
                  opacity: 1;
                  filter: grayscale(0.6); }
                .section#center-content .main-content #img-container .image-list ul li .control-container label .ctl--cover {
                  background-image: url("../images/cover.svg"); }
                .section#center-content .main-content #img-container .image-list ul li .control-container label .ctl--visible {
                  background-image: url("../images/eye.svg"); }
                .section#center-content .main-content #img-container .image-list ul li .control-container label .ctl--delete {
                  background-image: url("../images/trash.svg"); }

.right-container .sub-container {
  padding: 1rem 0; }

.right-container .general-container .layout-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem auto; }
  .right-container .general-container .layout-container input {
    opacity: 0;
    position: absolute; }
    .right-container .general-container .layout-container input:checked ~ .layout-label {
      opacity: 1;
      filter: grayscale(0); }
      .right-container .general-container .layout-container input:checked ~ .layout-label label {
        border: 2px solid #888;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }
  .right-container .general-container .layout-container .layout-label {
    margin: 0 .5rem;
    filter: grayscale(1);
    text-align: center;
    opacity: .6;
    transition: all 200ms ease-in-out; }
    .right-container .general-container .layout-container .layout-label label {
      margin: 0 auto .2rem;
      height: 4.03rem;
      width: 6rem;
      border: 2px solid #aaa;
      cursor: pointer; }
      .right-container .general-container .layout-container .layout-label label:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
    .right-container .general-container .layout-container .layout-label span {
      display: block;
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 1rem; }
  .right-container .general-container .layout-container .layout-img .layout-label label {
    background-image: url(../images/layout_img.svg);
    background-size: cover; }
  .right-container .general-container .layout-container .layout-txt .layout-label label {
    background-image: url(../images/layout_text.svg);
    background-size: cover; }
  .right-container .general-container .layout-container .layout-mnu .layout-label label {
    background-image: url(../images/layout_menu.svg);
    background-size: cover; }

.right-container .save-container {
  margin: 0 auto;
  text-align: center; }
  .right-container .save-container button {
    margin: 0 .2rem;
    border-radius: 0;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center; }
    .right-container .save-container button.button-save {
      background: #63BEFF; }
      .right-container .save-container button.button-save:hover {
        background: #30a9ff; }
    .right-container .save-container button.button-cancel {
      background: #b3b3b3; }
      .right-container .save-container button.button-cancel:hover {
        background: #9a9999; }
